@page
@model IshimweHealthcare.Pages.MedicalRecord.CreateModel
@{
}
<br />
<h2>New Medical Record</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}
<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Patient</label>
        <div class="col-sm-6">
            <select class="form-select" name="patientId">
                <option value="">Select a patient</option>
                @foreach (var patient in Model.patients)
                {
                    <option value="@patient.id">@patient.name</option>
                }
            </select>
        </div>
    </div>
    <!--<div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-6">
           
            <input type="date" class="form-control" name="date" value="" />
            
        </div>
    </div>-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Doctor_Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="doctorname" value="@Model.medicalRecordInfo.doctorname" />
        </div>
    
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Diagnosis</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.medicalRecordInfo.description" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/MedicalRecords/Index" role="button">Cancel</a>
        </div>
    </div>
</form>