@page
@model IshimweHealthcare.Pages.MedicalRecord.EditModel
@{
}
<br />
<h2>EDIT Patient Information</h2>
@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show"role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="close"></button>
        </div>
}
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">medicalRecordId</label>
        <div class="col-sm-6 mb-3">
    <input type="text"  name="id" value="@Model.medicalRecordInfo.UUID"/>
     </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">name </label>
        <div class="col-sm-6 mb-3">
            <input type="text" class="form-control" name="patient" value="@Model.medicalRecordInfo.patientid" />

        </div>
    <div class="row mb-3">
            <label class="col-sm-3 col-form-label">description</label>
        <div class="col-sm-6 mb-3">
                    <input type="text" class="form-control" name="description" value="@Model.medicalRecordInfo.description" />

        </div>
    <div class="row mb-3">
                <label class="col-sm-3 col-form-label">doctor</label>
        <div class="col-sm-6">
                        <input type="text" class="form-control" name="doctor" value="@Model.medicalRecordInfo.doctorname" />

        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">cancel</a>
        </div>
    </div>
</form>

